/*variables*/
@import 'src/assets/scss/core/variables';
/*fonts*/
@import 'src/assets/scss/core/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

button,
select,
input,
textarea {
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
  outline: none;
}

body {
  font-family: $font-stack-primary;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  min-width: 300px;
  color: $primary-dark;
  max-width: 100%;
  background: $primary-grey-light;
  height: calc(var(--vh, 1vh) * 100);
}

input[type='range'] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $primary-cyan-light;
  border-radius: 1.3px;
  border: 0.2px solid $primary-grey-dark;
  transition: all 0.3s ease-in;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: $primary-cyan-light;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
  transition: all 0.3s ease-in;
}
input[type='range'] {
  &:disabled {
    &::-webkit-slider-thumb {
      background: $primary-grey-light;
    }
    &::-webkit-slider-runnable-track {
      background: $primary-grey-dark;
    }
  }
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: $primary-cyan-light;
  &:disabled {
    background: $primary-grey-light;
  }
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $primary-cyan-dark;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: $primary-grey-dark;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: $primary-cyan-dark;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-fill-upper {
  background: $primary-cyan-dark;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: $primary-cyan-dark;
}
input[type='range']:focus::-ms-fill-upper {
  background: $primary-cyan-dark;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
