@import 'src/assets/scss/core/variables';

.page {
  width: 100vw;
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
    margin: 0 auto;
    height: calc(var(--vh, 1vh) * 100);
  }
}
