/*Fonts*/
$font-stack-primary: 'Montserrat', sans-serif;
$font-stack-secondary: 'Dela Gothic One', cursive;

/*Colors*/
/*&primary*/
$primary-light: #fff;
$primary-dark: #000;
$primary-cyan-light: #c3dce3;
$primary-cyan-dark: #2b788b;
$primary-pink-light: #f2d4dc;
$primary-pink-dark: #945069;
$primary-grey-light: #f6f5f4;
$primary-grey-medium: #e0e0e0;
$primary-grey-icon: #bababa;
$primary-grey-dark: #757575;
