@import 'src/assets/scss/core/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  &__logo {
    font-family: $font-stack-secondary;
    font-size: 17px;
    line-height: 17px;
    margin-right: 24px;
  }
  &__content {
    display: flex;
    align-items: center;
  }
}
