@import 'src/assets/scss/core/variables';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  flex: 0 0 auto;
  &__nav {
    border: none;
    padding: 0;
  }
  &__copyrights {
    color: $primary-grey-dark;
    font-weight: 300;
  }
}
